mixin input(label, type, name)
  .input-group(class!=attributes.class)
    label(for=name)= label
    input.input-field(type=type id=name name=name)
    if block
      p.text-grey-dark.text-xs.italic
        block

mixin select(label, name)
  .input-group
    label(for=name)= label
    .relative.block
      select.input-field.pr-8(id=name name=name)
        block
