mixin input(label, type, name)
  .input-group(class!=attributes.class)
    label(for=name)= label
    input.input-field(type=type id=name name=name)
    if block
      p.text-grey-dark.text-xs.italic
        block

mixin select(label, name)
  .input-group
    label(for=name)= label
    .relative.block
      select.input-field.select-input-field.pr-8.appearance-reset(id=name name=name)
        block
      .pointer-events-none.absolute.pin-y.pin-r.flex.items-center.px-2.text-40
        svg.fill-current.h-4.w-4(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
          path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')